<section>

    <h2 class="text-center text-primary">Monthly Info</h2>

    <div class="spacer"></div>

    <section id="tables_container" class="row justify-content-center">
        
        <div id="money_in_table_container" class="col-md-6 col-lg-6 col-xl-6">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center text-primary" scope="col">Item Name</th>
                        <th class="text-center text-success" scope="col">Amount In</th>
                        <th class="text-center text-primary" scope="col">Date</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr>
                        <td class="text-center text-primary"></td>
                        <td class="text-center text-primary"></td>
                        <td class="text-center text-primary"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="money_out_table_container" class="col-md-6 col-lg-6 col-xl-6">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center text-primary" scope="col">Item Name</th>
                        <th class="text-center text-danger" scope="col">Amount Out</th>
                        <th class="text-center text-primary" scope="col">Date</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

</section>
