<section>

  <h2 class="text-center text-primary">Yearly Info</h2>

  <div class="spacer"></div>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 50%" class="text-center text-primary" scope="col">Item Name</th>
        <th style="width: 20%" class="text-center text-success" scope="col">Money In</th>
        <th style="width: 20%" class="text-center text-danger" scope="col">Money Out</th>
        <th style="width: 10%" class="text-center text-primary" scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="text-center text-primary">{{ jsonOut | json }}</td>
        <td class="text-center text-primary"></td>
        <td class="text-center text-primary"></td>
        <td class="text-center">
          <div class="icons-container">
            <a href="javascript:void(0);"><i class="fas fa-edit text-primary"></i></a>
            <a href="javascript:void(0);"><i class="fas fa-trash-alt text-danger"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</section>


